html, body {
	margin: 0;
	padding: 0;
}
body {
	font-family: Roboto, 'Open Sans', Arial;
	font-size: 14px;
}
a {
	text-decoration: none;
}
pre {
	background: #f7f8fa;
	border-radius: 5px;
	font-size: 13px;
	padding: 15px;
}
button {
	margin-right: 5px !important;
}
button i {
	padding-right: 5px;
}
button a {
	color: #000; 
}

/* ---- [ global structure ] ---- */
.version-area, .credits-area, .developers-area, .issues-area, .usage-area, .intro-area, .samples-area {
	padding: 100px 0;
}
.left { 
	float: left !important; 
}
.right { 
	float: right !important; 
}
.heading-underline-right {
	border-top: 3px solid #222;
	float: left;
	margin-left: 1px;
	width: 20px;
}
.heading-underline-left {
	border-top: 3px solid #aaa;
	float: left;
	width: 20px;
}
.text-white {
	color: #fff;
}
.bordered-img {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.22), 0 2px 10px 0 rgba(0, 0, 0, 0.20);
	margin-bottom: 20px;
}

	/* ---- [ bg ] ---- */
	.bg-gray {
		background-color: #f7f7f7;
	}
	.bg-inverse {
		background-color: #222 !important;
	}
	.bg-inverse .heading-underline-right {
		border-top: 3px solid #fff;
	}
	.bg-inverse div, .bg-inverse span, .bg-inverse p, .bg-inverse h1, .bg-inverse h2, .bg-inverse h3, .bg-inverse h4 {
		color: #fff;
	}
	
	/* ---- [ box ] ---- */
	.box {
		background-color: #333;
		border-radius: 5px;
		padding: 20px;
	}
	.box a {
		color: #fff;
	}
	.box > div {
		display: table-cell;
		vertical-align: top;
	}
	.box-thumb {
		padding-right: 25px;
	}
	.box-thumb img {
		border-radius: 100%;
		max-height: 60px;
		max-width: 65px;
	}
	.box-title {
		font-size: 13px;
		font-weight: 500;
		padding-top: 15px;
	}

/* ---- [ slider ] ---- */
.slider {
	background-image: url('../img/reportunit.jpg');
	background-position: 0 -150px;
	background-size: cover;
	height: 400px;
	min-height: 400px;
}

/* ---- [ header ] ---- */
.header {
	padding-top: 25px;
}
.logo {
	font-size: 15px;
	margin-top: 4px;
}
.logo span {
	border: 1px solid #222;
	font-size: 15px;
	padding: 3px 7px;
}
.logo i {
	font-size: 14px;
	padding-right: 10px
}

/* ---- [ main ] ---- */
.intro-area {
	padding-bottom: 70px;
}

/* ---- [ footer ] ---- */
.footer {
	margin-bottom: -50px !important;
	padding: 25px 0 5px;
}
.footer span {
	display: block;
	font-size: 13px;
}

/* ---- [ media queries ] ---- */
@media all and (max-width: 900px) {
	.slider {
		background-position: 0;
	}
}
@media all and (max-width: 768px) {
	.unit-100 > .unit-80 {
		padding: 0 30px 0;
	}
	.header {
		padding: 20px 30px 0;
	}
	.unit-20 + .unit-80 {
		padding-top: 20px;
	}
}
@media all and (max-width: 600px) {
	.credits-area, .developers-area, .usage-area, .intro-area, .samples-area, .issues-area {
		padding: 80px 0;
	}
	.logo {
		padding-bottom: 20px;
	}
	.header .left, .header .right, .footer .left, .footer .right {
		float: none !important;
		margin: 0 auto;
		text-align: center;
	}
	.heading-underline-left {
		margin-left: 2px;
	}
}
@media all and (max-width: 483px) {
	.header .right a {
		display: block;
		margin-top: 10px;
	}
}